@use '../variables' as v;

.home-page {
    padding: 0;
    max-width: unset;
    background-color: rgb(149, 141, 182);
    min-height: calc(100vh - var(--header-height));
}

.main__container {
    display: grid;
    grid-template: auto / 25% 50% 25%;
    position: relative;
    min-height: calc(100vh - var(--header-height));
    padding-bottom: auto;
}

.section {
    min-height: calc(100vh - var(--header-height));
}

.section_images-sidebar {
    position: relative;
    box-sizing: border-box;
    /* height: calc(100vh - var(--header-height));
    min-height: calc(100vh - var(--header-height)); */
    
    /* padding: 1rem 1.25rem 1rem 0; */
    background-color: rgb(149, 141, 182);
    width: 100%;
}



.section_main {
    background-color: white;
}

.section_settings-sidebar {

}

@media (max-width: 1025px) {
    .section {
        min-height: unset;
    }
    
    .section_images-sidebar {
        box-sizing: border-box;
        height: 100%;
        
        padding: 1rem 1.25rem 1rem 0;
    }

    .main__container {
        display: grid;
        grid-template: minmax(100px, max-content) auto / 70% 30%;
        grid-template-areas: 
            "images images"
            "meme settings";
    }

    .section_images-sidebar { grid-area: images; }
    .section_main { grid-area: meme; }
    .section_settings-sidebar { grid-area: settings; }
}

@media (max-width: 768px) {
    .main__container {
        display: flex;
        flex-direction: column;
    } 
}