a {
  text-decoration: none;
  color: inherit;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
  }

  .header__image-link {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .header__image {
    margin-right: 6px;
    height: 100%;
  }
  
  .header__title {
    font-size: 1.25rem;
    margin: 0;
    display: inline-block;
  }

  .header__project-link {

  }
  
  .header__project {
    font-size: 0.75rem;
    font-weight: 500;
  }
  