.HorizontalScrollTrack {
    height: 0;
    padding: 0 !important;
}
.HorizontalScrollTrackInner::after {
    display: none;
}

.meme-list {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    position: absolute; 
    margin: auto;
    padding: 1rem 1.25rem 1rem 0;
    max-height: calc(max(100%, calc(100vh - var(--header-height))) - 3rem);
    overflow: scroll;
    width: 22vw;
    box-sizing: content-box;
    background-color: rgb(149, 141, 182);
    left: 0;
    right: 0;
    top: 0;
}

.meme-list::-webkit-scrollbar {display:none;}

.meme-list__item {
    position: relative;
    width: 100%;
}

.meme-list__img {
    cursor: pointer;
    width: 100%;
    height: 7vw;
    max-height: calc(var(--max-width)*7/100);
    object-fit: cover;
}

.meme-list__delete-img {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    
}

.meme-list__item:hover .meme-list__delete-img {
    display: block;
}

@media (max-width: 1200px) {
    .meme-list {
        grid-template-columns: 1fr 1fr;
        gap: 6px;
    }
    .meme-list__img {
        height: 10vw;
    }

  }

  @media (max-width: 1025px) {
    /* .meme-list {
        grid-template-columns: 1fr;
    } */
    .meme-list__img {
        height: 14vw;
    }
    .meme-list {
        display: flex;
        max-height: unset;
        padding: unset;
        position: static;
        width: 100%;
        /* height: 200px; */
    }

    .meme-list__item {
        position: relative;
        width: unset;
    }

    .meme-list__img {
        --width: 10vw;
        width: var(--width);
        height: calc(var(--width)*1.2);
        max-height: calc(var(--max-width)*7/100);
        object-fit: cover;
    }
  }