@use "../variables" as v;

.main-sec {
  display: grid;
  grid-template: 40px 30px min-content 40px / 1fr 1fr;
  grid-template-areas:
    "button1 button2"
    "input input"
    "meme meme"
    "button3 button4";
  gap: 17px;

  padding: 1rem 0;

  &__btn {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: v.$main-gradient;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
  }

  &__btn_1 {
    grid-area: button1;
  }

  &__btn_2 {
    grid-area: button2;
  }

  &__btn_3 {
    grid-area: button3;
  }

  &__btn_4 {
    grid-area: button4;
  }

  &__url-form {
    display: flex;
    outline: 1px solid black;
    border-radius: 5px;
    grid-area: input;
  }

  &__url-input {
    flex: 4 1 auto;
    border: none;
    padding: 1px 5px;
  }

  &__btn_url {
    flex: 1 1 auto;
    width: unset;
    border-radius: 0;
    padding: 5px 5px;
  }
}