a {text-decoration: none;}

.header {
  background: var(--main-gradient);
  font-size: var(--fs-h1);
}

.header__container {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 2.8em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.header__main-link {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: auto;
}

.header__logo {
  margin-right: 0.3em;
  height: 100%;
}

.header__title {
  margin: 0;
  font-size: inherit;
  color: var(--clr-accent);
}

.header__saved-link {
  position: relative;
  height: 100%;
}

.header__saved-num {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);

  font-weight: var(--fw-bold);
  text-transform: uppercase;
  color: var(--clr-dark);
}

.header__saved-img {
  height: 100%;
}

.settings-icon {
  width: 30px;
  margin-right: 10px;
  display: none;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .settings-icon {
    display: block;
  }
}