.settings {
    min-width: 500px;
    min-height: calc(100vh - 65px);
    background-color: rgb(149, 141, 182);
    padding: 20px;
}

.settings__btn {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: var(--main-gradient);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.settings__add-line-btn {

}

.settings__item {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    color: white;
}

.settings__item-text {
    
}

.settings__btn_text-size {
    background: none;
    border: none;
    padding: none;
}

.settings__btn_re-size {
    height: 35px;
    width: 35px;
    background: none;
    border: none;
}

.settings__btn_re-size img {
    width: 30px;
}

.settings__btn-color {
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0 5px;
}
