.settings {
    min-width: 500px;
    min-height: calc(100vh - 65px);
    background-color: rgb(149, 141, 182);
    padding: 20px;
}

.settings__btn {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: var(--main-gradient);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.settings__add-line-btn {

}

.settings__item {

}

.settings__item-text {

}