.settings {
    padding: 1rem;
    /* min-height: 100%; */
}

.settings__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    color: white;
}

.settings__item-label {
    cursor: pointer;
}

.settings__item-title {

}

.settings__list {
    display: flex;
    align-items: center;
}

.settings__btn {
    display: block;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: var(--main-gradient);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    /* margin-top: 15px; */
}

.settings__add-line-btn {
    display: block;

}

.settings__btn_text-size {
    background: none;
    border: none;
    padding: none;
}

.settings__btn_re-size {
    height: 35px;
    width: 35px;
    background: none;
    border: none;
}

.settings__btn_re-size img {
    width: 30px;
}

.settings__btn-color {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0 5px;
}

.settings__checkbox {
    cursor: pointer;
}

.settings__radio {
    cursor: pointer;
}

@media (max-width: 768px) and (min-width: 480px) {
    .settings {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}