.settings {
    min-width: 500px;
    min-height: calc(100vh - 65px);
    background-color: rgb(149, 141, 182);
    padding: 20px;
}

.settings__section {
    padding: 0 20px 20px 0;
    border-bottom: 1px solid black;
}

.settings__btn {
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: var(--main-gradient);
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.settings__position-btn-container {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-template-areas: 
    ". top ."
    "left center right"
    ". bottom .";
}

.settings__btn_center { grid-area: center; }

.settings__btn_left { grid-area: left; }

.settings__btn_right { grid-area: right; }

.settings__btn_top { grid-area: top; }

.settings__btn_bottom { grid-area: bottom; }