$ff-primary: 'Roboto', sans-serif;

$fw-reg: 400;
$fw-bold: 600;

$clr-light: #fff;
$clr-semi-light: #DEEBF8;
$clr-dark: #000000;
$clr-semi-dark: #958db6;
$clr-accent: #51da5a;

$main-gradient: linear-gradient(90deg, #141824 1.18%, #46516e 100%);

$max-width: 1920px;
$bp-large: 1200px;
$bp-laptops: 1025px;
$bp-tablets: 768px;
$bp-mobile : 480px;
$min-width: 320px;


:root {
    --header-height: 4rem;
    
    --fs-h1: 1.5rem;
    --fs-h2: 1.39rem;
    --fs-h3: 1rem;
    --fs-body: 1rem;
}


@media (max-width: $max-width) {
    :root {}
}

@media (max-width: $bp-large) {
    :root {
        --fs-h1: 1.4rem;
    }
}

@media (max-width: $bp-laptops) {
    :root {}
}

@media (max-width: $bp-tablets) {
    :root {
        --fs-h1: 1.3rem;
    }
}

@media (max-width: $bp-mobile) {
    :root {
        --fs-h1: 1.2rem;
    }
}

@media (max-width: $min-width) {
    :root {}
}